body {
	background: linear-gradient(to bottom right, #a9f1a9, #57e857);
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
}



.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}

.card {
  text-align: center;
  opacity:90%;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  padding: 2rem;
  position:relative;
  top: 40%;
  z-index: -1;
  width: 65%; /* tambahkan lebar kartu menjadi 50% */
  max-width: 500px; /* tambahkan batasan lebar maksimum */
  height: 100%; /* tambahkan lebar kartu menjadi 50% */
  max-height: 1000px; /* tambahkan batasan lebar maksimum */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Ubah font-family menjadi Helvetica Neue, Helvetica, Arial, sans-serif */
  font-size: 0.9rem; /* Perbesar ukuran huruf menjadi 1.5rem */
  font-weight: bold; /* Tambahkan font-weight menjadi bold */
  background-image: url("/blob/main/masjid2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top 90px;
  
}



.card-background {
  position: absolute;
  border-radius: 1rem;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background-color: #fff;
  opacity: 0.7;
  z-index: -1;
}



.falling {
  position:fixed;
  animation-name: fall;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  z-index: -1;
  width: 50px; /* tambahkan lebar gambar sebesar 30px */
  height: 68px; /* tambahkan tinggi gambar sebesar 30px */
}

@keyframes fall {
	0% {
		transform: translateY(-750%) rotate(0deg); /* ubah nilai translateY menjadi -100% */
	}
	100% {
		transform: translateY(500px) rotate(360deg);
	}
}

/* Aturan CSS untuk layar dengan lebar kurang dari 768px, cocok untuk ponsel */
@media (max-width: 767px) {
  .card {
    font-size: 1.2rem; /* Kurangi ukuran huruf pada layar kecil */
    width: 70%; /* Perbesar lebar kartu untuk memenuhi lebar layar */
  }

  .container {
    height: 50%; /* Atur tinggi container menjadi 100% untuk menghindari scroll */
  }
}

/* Aturan CSS untuk layar dengan lebar kurang dari 576px, cocok untuk ponsel dengan layar kecil */
@media (max-width: 576px) {
  .card {
    font-size: 1rem; /* Kurangi ukuran huruf pada layar yang sangat kecil */
  }
}
